/*.cell-1{
  background-image: url('../img/gg2.png'); /*to change the image in the cell, just change the path here*/ /*
}

.cell-2{
  background-image: url('../img/lc2.png');
}

.cell-3{
  background-image: url('../img/gg1.png');
}

.cell-4{
  background-image: url('../img/gg3.png');
}

.cell-5{
  background-image: url('../img/cas1.png');
}

.cell-6{
  background-image: url('../img/gg4.png');
}

.cell-7{
  background-image: url('../img/cm1.png');
}

.cell-8{
  background-image: url('../img/wf1.png');
}

*/
