.grid {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #000000;
}

.grid ul {
  list-style-type: none;
  margin:0;
  padding:0;
}

.grid img {
  max-width: 100%;
  display:block;
}


.grid li {
  float: left;
  width: 25%;
  margin: 0;
  padding: 0;
  transition: width 0.3s;
}
